.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.avatar {
  height: 200px;
  margin: auto;
  width: 200px;
}

.EmployeeDiv {
  background-color: #DEDEDE;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 30%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  margin: auto;
  padding: 1rem;
}

@media only screen and (max-width: 810px) {
  .EmployeeDiv {
    width: 80%;
  }
}